@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Sen:wght@100;200;300;400;500;600;800&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  color: #ffd050;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.transition {
  transition: all 0.4s ease;
}
